# 자료형과 기본 연산

## 기본 자료형

In [1]:
a = 1
b = 1
print(a, b)

1 1

In [2]:
a = 1.5
b = 3.5
print(a, b)

1.5 3.5

In [3]:
a = "ABC"
b = "101010"
print(a, b)

ABC 101010

In [4]:
a = True
b = False
print(a, b)

True False

## 간단한 연산

In [5]:
25+30

55

In [6]:
30-12

18

In [7]:
50*3

150

In [8]:
30/5

6.0

In [9]:
print(3*3*3*3*3)
print(3**5)

243
243

In [10]:
print(7 // 2)

3

In [11]:
print(7 % 2)

1

# 자료형 변환

## 1. 정수형과 실수형 간 변환

In [1]:
a = 10
print(a)

10

In [2]:
a = float(10)
print(a)

10.0

In [3]:
a = 10
b = 3
print(a / b)

3.3333333333333335

In [4]:
a = str(a)
b = str(b)
print(a+b)

103

In [8]:
a = int(10.7)
b = int(10.3)

In [9]:
print(a + b)

20

In [10]:
print(a)
print(b)

10
10

## 2. 숫자형과 문자형 간 변환

In [11]:
a = '76.3'
b = float(a)

In [12]:
print(a)

76.3

In [13]:
print(a + b)

TypeError: can only concatenate str (not "float") to str

In [14]:
a = float(a)
b = a

In [15]:
print(a+b)

152.6

In [16]:
a=str(b)
b=str(a)
print(a+b)

76.376.3

## 3. 자료형 확인하기

In [17]:
a = int(10.3)
b = float(10.3)
c = str(10.3)

In [18]:
type(a)

int

In [19]:
type(b)

float

In [20]:
type(c)

str

In [21]:
print(a, b, c)

10 10.3 10.3

In [22]:
a = 777
b = 777
print( a == b, a is b)

True False

In [23]:
a = 3.5
b = int(3.5)
print(a ** ((a // b) *2))

12.25

In [24]:
print(((a-b)*a)//b)

0.0

In [25]:
b = (((a-b)*a)%b)
print(b)

1.75

In [26]:
print((a*4)%(b*4))

0.0

In [27]:
a = 10.6
b = 10.5
print(a*b)
type(a+b)

111.3

float

In [28]:
a = '20'
b = '4'
print(type(float(a/b)))

TypeError: unsupported operand type(s) for /: 'str' and 'str'

In [30]:
a = "Gachon"
b = "CS"
c = 200
c = int(c / 4)

print(a, b, c)

Gachon CS 50