# 1. 자료구조의 이해

## 1. 자료구조의 개념

## 2. 파이썬에서의 자료구조

# 2. 스택과 큐

스택: last in first out 

큐: first in first out

In [1]:
a = [1, 2, 3, 4, 5]
a.append(10)

In [2]:
a

[1, 2, 3, 4, 5, 10]

In [3]:
a.append(20)

In [4]:
a

[1, 2, 3, 4, 5, 10, 20]

In [5]:
a.pop()

20

In [6]:
a

[1, 2, 3, 4, 5, 10]

In [7]:
a.pop()

10

In [8]:
a

[1, 2, 3, 4, 5]

## 2. 큐

In [9]:
a = [1, 2, 3, 4, 5]

In [10]:
a.append(10)

In [11]:
a.append(20)

In [12]:
a

[1, 2, 3, 4, 5, 10, 20]

In [13]:
a.pop(0)

1

In [14]:
a.pop(0)

2

# 3. 튜플과 세트

## 1. 튜플

In [15]:
t = (1, 2, 3)

In [16]:
print(t + t, t * 2)

(1, 2, 3, 1, 2, 3) (1, 2, 3, 1, 2, 3)

In [17]:
t[1]

2

In [18]:
t[1] = 5

TypeError: 'tuple' object does not support item assignment

In [19]:
s = set([1, 2, 3, 1, 2, 3])

In [20]:
s

{1, 2, 3}

In [21]:
s.add(1)

In [22]:
s

{1, 2, 3}

In [23]:
s.remove(1)

In [24]:
s

{2, 3}

In [25]:
s.update([1, 4, 5, 6, 7])

In [26]:
s

{1, 2, 3, 4, 5, 6, 7}

In [27]:
s.discard(3)

In [28]:
s

{1, 2, 4, 5, 6, 7}

In [29]:
s.clear()

In [30]:
s

set()

In [32]:
s1 = set([1, 2, 3, 4, 5])
s2 = set([3, 4, 5, 6, 7])

In [33]:
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7}

In [34]:
s1 | s2

{1, 2, 3, 4, 5, 6, 7}

In [35]:
s1.intersection(s2)

{3, 4, 5}

In [36]:
s1 & s2

{3, 4, 5}

In [37]:
s1.difference(s2)

{1, 2}

In [38]:
s2.difference(s1)

{6, 7}

In [39]:
s1 - s2

{1, 2}

In [40]:
s2 - s1

{6, 7}

# 4. 딕셔너리

## 1. 딕셔너리의 개념

## 2. 파이썬에서의 딕셔너리

In [1]:
student_info = {20140012:'Sungchul', 20140059: 'Jiyong', 20140058: 'JaeHong'}

In [2]:
student_info

{20140012: 'Sungchul', 20140059: 'Jiyong', 20140058: 'JaeHong'}

In [3]:
student_info[20140012]

'Sungchul'

In [5]:
student_info[20140012] = 'Seunghoon'

In [6]:
student_info[20140012]

'Seunghoon'

In [7]:
student_info[20140039] = 'Wonchul'

In [8]:
student_info

{20140012: 'Seunghoon',
 20140059: 'Jiyong',
 20140058: 'JaeHong',
 20140039: 'Wonchul'}

## 3. 딕셔너리의 함수

In [9]:
country_code = {}
country_code = {"America": 1, "Korea": 82, "China": 86, "Japan": 81}
country_code

{'America': 1, 'Korea': 82, 'China': 86, 'Japan': 81}

In [10]:
country_code.keys()

dict_keys(['America', 'Korea', 'China', 'Japan'])

In [11]:
country_code.values()

dict_values([1, 82, 86, 81])

In [12]:
country_code["Germany"] = 49
country_code

{'America': 1, 'Korea': 82, 'China': 86, 'Japan': 81, 'Germany': 49}

In [13]:
country_code.values()

dict_values([1, 82, 86, 81, 49])

In [14]:
country_code.items()

dict_items([('America', 1), ('Korea', 82), ('China', 86), ('Japan', 81), ('Germany', 49)])

In [15]:
for k, v in country_code.items():
    print("Keys:", k)
    print("Values:", v)

Keys: America
Values: 1
Keys: Korea
Values: 82
Keys: China
Values: 86
Keys: Japan
Values: 81
Keys: Germany
Values: 49

In [16]:
"Korea" in country_code.keys()

True

In [17]:
86 in country_code.values()

True

# 5. collections 모듈

In [18]:
from collections import deque
from collections import OrderedDict
from collections import defaultdict
from collections import Counter
from collections import namedtuple

## 1. deque 모듈

In [19]:
from collections import deque

deque_list = deque()
for i in range(5):
    deque_list.append(i)
    
print(deque_list)

deque([0, 1, 2, 3, 4])

In [20]:
deque_list.pop()

4

In [21]:
deque_list.pop()

3

In [22]:
deque_list.pop()

2

In [23]:
deque_list

deque([0, 1])

In [24]:
deque_list = deque()

In [25]:
for i in range(5):
    deque_list.appendleft(i)
    
print(deque_list)

deque([4, 3, 2, 1, 0])

In [26]:
deque_list.pop()

0

In [27]:
deque_list.pop()

1

In [28]:
deque_list.pop()

2

In [29]:
deque_list

deque([4, 3])

In [34]:
deque_list = deque()
for i in range(5):
    deque_list.append(i)

In [35]:
print(deque_list)

deque([0, 1, 2, 3, 4])

In [36]:
deque_list.rotate(2)

In [37]:
deque_list

deque([3, 4, 0, 1, 2])

In [38]:
deque_list.rotate(2)

In [39]:
deque_list

deque([1, 2, 3, 4, 0])

In [40]:
deque(reversed(deque_list))

deque([0, 4, 3, 2, 1])

In [41]:
deque_list.extend([5, 6, 7])

In [42]:
deque_list

deque([1, 2, 3, 4, 0, 5, 6, 7])

In [43]:
deque_list.extendleft([5, 6, 7])

In [44]:
deque_list

deque([7, 6, 5, 1, 2, 3, 4, 0, 5, 6, 7])

## 2. OrderedDict 모듈

In [45]:
d = {}
d['x'] = 100
d['l'] = 500
d['y'] = 200
d['z'] = 300

for k, v in d.items():
    print(k, v)

x 100
l 500
y 200
z 300

## 3. defaultdict 모듈

## 4. Counter 모듈

In [46]:
from collections import Counter

text = list("gallahad")
text

['g', 'a', 'l', 'l', 'a', 'h', 'a', 'd']

In [47]:
c = Counter(text)
c

Counter({'g': 1, 'a': 3, 'l': 2, 'h': 1, 'd': 1})

In [48]:
c["a"]

3

In [50]:
text = """A press release is the quickest and easiest way to get free 
publicity. If well written, a press release can result in multiple published 
articles about your firm and its products. And that can mean new prospects contacting you asking you to sell to them. ....""".lower().split()
Counter(text)

Counter({'a': 2,
         'press': 2,
         'release': 2,
         'is': 1,
         'the': 1,
         'quickest': 1,
         'and': 3,
         'easiest': 1,
         'way': 1,
         'to': 3,
         'get': 1,
         'free': 1,
         'publicity.': 1,
         'if': 1,
         'well': 1,
         'written,': 1,
         'can': 2,
         'result': 1,
         'in': 1,
         'multiple': 1,
         'published': 1,
         'articles': 1,
         'about': 1,
         'your': 1,
         'firm': 1,
         'its': 1,
         'products.': 1,
         'that': 1,
         'mean': 1,
         'new': 1,
         'prospects': 1,
         'contacting': 1,
         'you': 2,
         'asking': 1,
         'sell': 1,
         'them.': 1,
         '....': 1})

In [51]:
text

['a',
 'press',
 'release',
 'is',
 'the',
 'quickest',
 'and',
 'easiest',
 'way',
 'to',
 'get',
 'free',
 'publicity.',
 'if',
 'well',
 'written,',
 'a',
 'press',
 'release',
 'can',
 'result',
 'in',
 'multiple',
 'published',
 'articles',
 'about',
 'your',
 'firm',
 'and',
 'its',
 'products.',
 'and',
 'that',
 'can',
 'mean',
 'new',
 'prospects',
 'contacting',
 'you',
 'asking',
 'you',
 'to',
 'sell',
 'to',
 'them.',
 '....']

In [52]:
c = Counter({'red': 4, 'blue': 2})
print(c)

Counter({'red': 4, 'blue': 2})

In [53]:
print(list(c.elements()))

['red', 'red', 'red', 'red', 'blue', 'blue']

In [54]:
c = Counter(cats = 4, dogs = 8)
print(c)

Counter({'dogs': 8, 'cats': 4})

In [55]:
print(list(c.elements()))

['cats', 'cats', 'cats', 'cats', 'dogs', 'dogs', 'dogs', 'dogs', 'dogs', 'dogs', 'dogs', 'dogs']

In [56]:
c = Counter(a = 4, b = 2, c = 0, d = -2)
d = Counter(a = 1, b = 2, c = 3, d = 4)
c.subtract(d)
c

Counter({'a': 3, 'b': 0, 'c': -3, 'd': -6})

In [57]:
c = Counter(a = 4, b = 2, c = 0, d = -2)
d = Counter(a = 1, b = 2, c = 3, d = 4)
print(c + d)

Counter({'a': 5, 'b': 4, 'c': 3, 'd': 2})

In [58]:
print(c & d)

Counter({'b': 2, 'a': 1})

In [59]:
print(c | d)

Counter({'a': 4, 'd': 4, 'c': 3, 'b': 2})

## 5. namedtuple 모듈

In [61]:
from collections import namedtuple

Point = namedtuple('Point', ['x', 'y'])
p = Point(11, y=22)
print(p)

Point(x=11, y=22)

In [62]:
p.x, p.y

(11, 22)

In [63]:
print(p[0] + p[1])

33

# 6. LAB: 텍스트 마이닝 프로그램