# 1. 파이썬 스타일 코드의 이해

In [1]:
colors = ['red', 'blue', 'green', 'yellow']
result = ''
for s in colors:
    result += s

print(result)

redbluegreenyellow

In [2]:
colors = ['red', 'blue', 'green', 'yellow']
result = ''.join(colors)
print(result)

redbluegreenyellow

# 2. 문자열의 분리 및 결합

In [3]:
items = 'zero one two three'.split()
print(items)

['zero', 'one', 'two', 'three']

In [4]:
example = 'python,jquery,javascipt'
example.split(",")

['python', 'jquery', 'javascipt']

In [5]:
a, b, c = example.split(",")
print(a, b, c)

python jquery javascipt

In [6]:
example = 'theteamlab.univ.edu'
subdomain, domain, tld = example.split('.')
print(subdomain, domain, tld)

theteamlab univ edu

In [8]:
# 2. 문자열의 결합: join() 함수
colors = ['red', 'blue', 'green', 'yellow']
result = ''.join(colors)
print(result)

redbluegreenyellow

In [9]:
result = ' '.join(colors)
print(result)

red blue green yellow

In [10]:
result = ', '.join(colors)
print(result)

red, blue, green, yellow

In [11]:
result = '-'.join(colors)
print(result)

red-blue-green-yellow

# 3. 리스트 컴프리헨션

In [12]:
#1 리스트 컴프리헨션 다루기

In [13]:
result = []
for i in range(10):
    result.append(i)
    
print(result)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [14]:
result = [i for i in range(10)]
print(result)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [15]:
# 2 리스트 컴프리헨션 용범

In [16]:
result = []
for i in range(10):
    if i % 2 == 0:
        result.append(i)
        
print(result)

[0, 2, 4, 6, 8]

In [18]:
result = [i for i in range(10) if i % 2 == 0]

print(result)

[0, 2, 4, 6, 8]

In [19]:
result = [i if i % 2 == 0 else 10 for i in range(10)]
print(result)

[0, 10, 2, 10, 4, 10, 6, 10, 8, 10]

In [20]:
result = [i for i in range(10) if i % 2 == 0 ㅈelse 10]

SyntaxError: invalid syntax (<ipython-input-20-0362e8de76a9>, line 1)

In [21]:
# 2.2 중첩 반복문

word_1 = "Hello"
word_2 = "World"

result = [i + j for i in word_1 for j in word_2]
print(result)

['HW', 'Ho', 'Hr', 'Hl', 'Hd', 'eW', 'eo', 'er', 'el', 'ed', 'lW', 'lo', 'lr', 'll', 'ld', 'lW', 'lo', 'lr', 'll', 'ld', 'oW', 'oo', 'or', 'ol', 'od']

In [22]:
case_1 = ["A", "B", "C"]
case_2 = ["D", "E", "A"]
result = [i + j for i in case_1 for j in case_2 if not(i==j)]
result

['AD', 'AE', 'BD', 'BE', 'BA', 'CD', 'CE', 'CA']

In [23]:
# 2.3 이차원 리스트
words = 'The quick brown for jumps over the lazy dog'.split()
print(words)

['The', 'quick', 'brown', 'for', 'jumps', 'over', 'the', 'lazy', 'dog']

In [24]:
stuff = [[w.upper(), w.lower(), len(w)] for w in words]

In [25]:
stuff

[['THE', 'the', 3],
 ['QUICK', 'quick', 5],
 ['BROWN', 'brown', 5],
 ['FOR', 'for', 3],
 ['JUMPS', 'jumps', 5],
 ['OVER', 'over', 4],
 ['THE', 'the', 3],
 ['LAZY', 'lazy', 4],
 ['DOG', 'dog', 3]]

In [26]:
case_1 = ["A", "B", "C"]
case_2 = ["D", "E", "A"]
result = [i + j for i in case_1 for j in case_2]

In [28]:
print(result)

['AD', 'AE', 'AA', 'BD', 'BE', 'BA', 'CD', 'CE', 'CA']

In [29]:
result = [[i + j for i in case_1] for j in case_2]
result

[['AD', 'BD', 'CD'], ['AE', 'BE', 'CE'], ['AA', 'BA', 'CA']]

In [30]:
# 3. 리스트 컴프리헨션의 성능

# 4. 다양한 방식의 리스트값 출력

In [31]:
# 1 리스트값에 인덱스를 붙여 출력: enumerate() 함수
for i, v in enumerate(['tic', 'tac', 'toe']):
    print(i, v)

0 tic
1 tac
2 toe

In [32]:
{i:j for i, j in enumerate('TEAMLAB is an academic institute located in South Korea.'.split())}

{0: 'TEAMLAB',
 1: 'is',
 2: 'an',
 3: 'academic',
 4: 'institute',
 5: 'located',
 6: 'in',
 7: 'South',
 8: 'Korea.'}

In [33]:
# 2. 리스트값을 병렬로 묶어 출력: zip() 함수

alist = ['a1', 'a2', 'a3']
blist = ['b1', 'b2', 'b3']
for a, b in zip(alist, blist):
    print(a, b)

a1 b1
a2 b2
a3 b3

In [34]:
a, b, c = zip((1, 2, 3), (10, 20, 30), (100, 200, 300))
print(a, b, c)

(1, 10, 100) (2, 20, 200) (3, 30, 300)

In [35]:
[sum(x) for x in zip((1, 2,3), (10, 20, 30), (100, 200, 300))]

[111, 222, 333]

In [36]:
alist = ['a1', 'a2', 'a3']
blist = ['b1', 'b2', 'b3']

In [37]:
for i, (a, b) in enumerate(zip(alist, blist)):
    print(i, a, b)

0 a1 b1
1 a2 b2
2 a3 b3

In [1]:
# 연습문제

mylist = ['apple', 'banana', 'grape']
result = list(enumerate(mylist))
print(result)

[(0, 'apple'), (1, 'banana'), (2, 'grape')]