# 1. 파이썬 스타일 코드의 이해

In [1]:
colors = ['red', 'blue', 'green', 'yellow']
result = ''
for s in colors:
    result += s

print(result)

redbluegreenyellow

In [2]:
colors = ['red', 'blue', 'green', 'yellow']
result = ''.join(colors)
print(result)

redbluegreenyellow

# 2. 문자열의 분리 및 결합

In [3]:
items = 'zero one two three'.split()
print(items)

['zero', 'one', 'two', 'three']

In [4]:
example = 'python,jquery,javascipt'
example.split(",")

['python', 'jquery', 'javascipt']

In [5]:
a, b, c = example.split(",")
print(a, b, c)

python jquery javascipt

In [6]:
example = 'theteamlab.univ.edu'
subdomain, domain, tld = example.split('.')
print(subdomain, domain, tld)

theteamlab univ edu

In [8]:
# 2. 문자열의 결합: join() 함수
colors = ['red', 'blue', 'green', 'yellow']
result = ''.join(colors)
print(result)

redbluegreenyellow

In [9]:
result = ' '.join(colors)
print(result)

red blue green yellow

In [10]:
result = ', '.join(colors)
print(result)

red, blue, green, yellow

In [11]:
result = '-'.join(colors)
print(result)

red-blue-green-yellow

# 3. 리스트 컴프리헨션

In [12]:
#1 리스트 컴프리헨션 다루기

In [13]:
result = []
for i in range(10):
    result.append(i)
    
print(result)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [14]:
result = [i for i in range(10)]
print(result)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [15]:
# 2 리스트 컴프리헨션 용범

In [16]:
result = []
for i in range(10):
    if i % 2 == 0:
        result.append(i)
        
print(result)

[0, 2, 4, 6, 8]

In [18]:
result = [i for i in range(10) if i % 2 == 0]

print(result)

[0, 2, 4, 6, 8]

In [19]:
result = [i if i % 2 == 0 else 10 for i in range(10)]
print(result)

[0, 10, 2, 10, 4, 10, 6, 10, 8, 10]

In [20]:
result = [i for i in range(10) if i % 2 == 0 ㅈelse 10]

SyntaxError: invalid syntax (<ipython-input-20-0362e8de76a9>, line 1)

In [21]:
# 2.2 중첩 반복문

word_1 = "Hello"
word_2 = "World"

result = [i + j for i in word_1 for j in word_2]
print(result)

['HW', 'Ho', 'Hr', 'Hl', 'Hd', 'eW', 'eo', 'er', 'el', 'ed', 'lW', 'lo', 'lr', 'll', 'ld', 'lW', 'lo', 'lr', 'll', 'ld', 'oW', 'oo', 'or', 'ol', 'od']

In [22]:
case_1 = ["A", "B", "C"]
case_2 = ["D", "E", "A"]
result = [i + j for i in case_1 for j in case_2 if not(i==j)]
result

['AD', 'AE', 'BD', 'BE', 'BA', 'CD', 'CE', 'CA']

In [23]:
# 2.3 이차원 리스트
words = 'The quick brown for jumps over the lazy dog'.split()
print(words)

['The', 'quick', 'brown', 'for', 'jumps', 'over', 'the', 'lazy', 'dog']

In [24]:
stuff = [[w.upper(), w.lower(), len(w)] for w in words]

In [25]:
stuff

[['THE', 'the', 3],
 ['QUICK', 'quick', 5],
 ['BROWN', 'brown', 5],
 ['FOR', 'for', 3],
 ['JUMPS', 'jumps', 5],
 ['OVER', 'over', 4],
 ['THE', 'the', 3],
 ['LAZY', 'lazy', 4],
 ['DOG', 'dog', 3]]

In [26]:
case_1 = ["A", "B", "C"]
case_2 = ["D", "E", "A"]
result = [i + j for i in case_1 for j in case_2]

In [28]:
print(result)

['AD', 'AE', 'AA', 'BD', 'BE', 'BA', 'CD', 'CE', 'CA']

In [29]:
result = [[i + j for i in case_1] for j in case_2]
result

[['AD', 'BD', 'CD'], ['AE', 'BE', 'CE'], ['AA', 'BA', 'CA']]

In [30]:
# 3. 리스트 컴프리헨션의 성능

# 4. 다양한 방식의 리스트값 출력

In [31]:
# 1 리스트값에 인덱스를 붙여 출력: enumerate() 함수
for i, v in enumerate(['tic', 'tac', 'toe']):
    print(i, v)

0 tic
1 tac
2 toe

In [32]:
{i:j for i, j in enumerate('TEAMLAB is an academic institute located in South Korea.'.split())}

{0: 'TEAMLAB',
 1: 'is',
 2: 'an',
 3: 'academic',
 4: 'institute',
 5: 'located',
 6: 'in',
 7: 'South',
 8: 'Korea.'}

In [33]:
# 2. 리스트값을 병렬로 묶어 출력: zip() 함수

alist = ['a1', 'a2', 'a3']
blist = ['b1', 'b2', 'b3']
for a, b in zip(alist, blist):
    print(a, b)

a1 b1
a2 b2
a3 b3

In [34]:
a, b, c = zip((1, 2, 3), (10, 20, 30), (100, 200, 300))
print(a, b, c)

(1, 10, 100) (2, 20, 200) (3, 30, 300)

In [35]:
[sum(x) for x in zip((1, 2,3), (10, 20, 30), (100, 200, 300))]

[111, 222, 333]

In [36]:
alist = ['a1', 'a2', 'a3']
blist = ['b1', 'b2', 'b3']

In [37]:
for i, (a, b) in enumerate(zip(alist, blist)):
    print(i, a, b)

0 a1 b1
1 a2 b2
2 a3 b3

In [1]:
# 연습문제

mylist = ['apple', 'banana', 'grape']
result = list(enumerate(mylist))
print(result)

[(0, 'apple'), (1, 'banana'), (2, 'grape')]

In [2]:
cat_song = "my cat has blue eyes, my cat is cute"
print({i:j for j, i in enumerate(cat_song.split())})

{'my': 5, 'cat': 6, 'has': 2, 'blue': 3, 'eyes,': 4, 'is': 7, 'cute': 8}

In [3]:
colors = ['orange', 'pink', 'brown', 'black', 'white']
result = '&'.join(colors)
print(result)

orange&pink&brown&black&white

In [4]:
user_dict = {}
user_list = ["students", "superuser", "professor", "employee"]
for value_1, value_2 in enumerate(user_list):
    user_dict[value_2] = value_1
print(user_dict)

{'students': 0, 'superuser': 1, 'professor': 2, 'employee': 3}

In [5]:
result = [i for i in range(10) if i%2 == 0]
print(result)

[0, 2, 4, 6, 8]

In [6]:
items = 'zero one two three'.split("two")
result = [i for i in range(10)]
print(result)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [7]:
items = 'zero one two three'.split()
print(items)

['zero', 'one', 'two', 'three']

In [8]:
example = 'cs50.gachon.edu'
subdomain, domain, tld = example.split('.')
print(subdomain)

cs50

In [9]:
animal = ['Fox', 'Dog', 'Cat', 'Monkey', 'Horse', 'Panda', 'Owl']
print([ani for ani in animal if 'o' not in ani])

['Cat', 'Panda', 'Owl']

In [10]:
name = "Kyungnam University"
student = ["Hong", "Gil", "Dong"]
split_name = name.split()
join_student = ''.join(student)
print(join_student[-4:]+split_name[1])

DongUniversity

In [13]:
kor_score = [49, 79, 20, 100, 80]
math_score = [43, 59, 85, 30, 90]
eng_score = [49, 79, 48, 60, 100]
midterm_score = [kor_score, math_score, eng_score]
print(midterm_score[0][2])

20

In [14]:
a = [1, 2, 3]
b = [4, 5, ]
c = [7, 8, 9]

print([[sum(k), len(k)] for k in zip(a, b, c)])

[[12, 3], [15, 3]]

In [15]:
week = ['mon', 'tue', 'wed', 'thu', 'fri', 'sat', 'sun']
rainbow = ['red', 'orange', 'yellow', 'green', 'blue', 'navy', 'purple']
list_data = [week, rainbow]

print(list_data[1][2])

yellow

In [16]:
kor_score = [30, 79, 20, 100, 80]
math_score = [43, 59, 0, 30, 90]
eng_score = [49, 72, 48, 67, 15]
midterm_score = [kor_score, math_score, eng_score]
print("score:", midterm_score[2][1])

score: 72

In [18]:
alist = ["a", "b", "c"]
blist = ["1", "2", "3"]
abcd=[]

for a, b in enumerate(zip(alist, blist)):
    print(a, b)
    try:
        abcd.append(b[a])
    except IndexError:
        abcd.append("error")
        
print(abcd)

0 ('a', '1')
1 ('b', '2')
2 ('c', '3')
['a', '2', 'error']

In [19]:
blist = ["이정후", "강백호", "홍창기", "송찬의"]
clist = ["1", "2", "3", "4"]
abcd = []

for a, b in enumerate(zip(blist, clist)):
    try:
        abcd.append(b[a])
    except IndexError:
        abcd.append("Error")

In [20]:
print(abcd)

['이정후', '2', 'Error', 'Error']

In [21]:
alist = ['a1', 'a2', 'a3']
blist = ['b1', 'b2', 'b3']
for a, b in zip(alist, blist):
    print(a, b)

a1 b1
a2 b2
a3 b3

In [22]:
alphabet = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']
nums = [i for i in range(20)]
answer = [alpha+str(num) for alpha in alphabet for num in nums if num%2 == 0]
print(len(answer))

80

In [23]:
print(answer)

['a0', 'a2', 'a4', 'a6', 'a8', 'a10', 'a12', 'a14', 'a16', 'a18', 'b0', 'b2', 'b4', 'b6', 'b8', 'b10', 'b12', 'b14', 'b16', 'b18', 'c0', 'c2', 'c4', 'c6', 'c8', 'c10', 'c12', 'c14', 'c16', 'c18', 'd0', 'd2', 'd4', 'd6', 'd8', 'd10', 'd12', 'd14', 'd16', 'd18', 'e0', 'e2', 'e4', 'e6', 'e8', 'e10', 'e12', 'e14', 'e16', 'e18', 'f0', 'f2', 'f4', 'f6', 'f8', 'f10', 'f12', 'f14', 'f16', 'f18', 'g0', 'g2', 'g4', 'g6', 'g8', 'g10', 'g12', 'g14', 'g16', 'g18', 'h0', 'h2', 'h4', 'h6', 'h8', 'h10', 'h12', 'h14', 'h16', 'h18']