In [1]:
import pandas as pd
import numpy as np

In [2]:
edu_files = []
for i in range(2011, 2021):
    edu_files.append("edustat"+str(i)+".xlsx")

In [3]:
edu_files

['edustat2011.xlsx',
 'edustat2012.xlsx',
 'edustat2013.xlsx',
 'edustat2014.xlsx',
 'edustat2015.xlsx',
 'edustat2016.xlsx',
 'edustat2017.xlsx',
 'edustat2018.xlsx',
 'edustat2019.xlsx',
 'edustat2020.xlsx']

In [4]:
edustat = pd.DataFrame()
edustat_final = pd.DataFrame()
for i in range(10):
    edustat = pd.read_excel(edu_files[i])
    edustat_final = pd.concat([edustat_final, edustat], ignore_index=True)

In [5]:
edustat_final.head()

,조사기준일,학제,학교명,학교상태,본분교,시도,설립,과정구분,대계열,중계열,...,4차 유지취업자_계,4차 유지취업자_남,4차 유지취업자_여,4차 유지취업률_계,4차 유지취업률_남,4차 유지취업률_여,입학당시 기취업자_계,입학당시 기취업자_남,입학당시 기취업자_여,KEDI\n학교코드
0,2011.12.31.,전문대학(3년제),가톨릭상지대학교,기존,본교,경북,사립,전문대학과정,사회계열,경영ㆍ경제,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2011.12.31.,전문대학(3년제),가톨릭상지대학교,기존,본교,경북,사립,전문대학과정,사회계열,경영ㆍ경제,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2011.12.31.,전문대학(3년제),가톨릭상지대학교,기존,본교,경북,사립,전문대학과정,사회계열,경영ㆍ경제,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2011.12.31.,전문대학(3년제),가톨릭상지대학교,기존,본교,경북,사립,전문대학과정,사회계열,경영ㆍ경제,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2011.12.31.,전문대학(3년제),가톨릭상지대학교,기존,본교,경북,사립,전문대학과정,사회계열,경영ㆍ경제,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
edustat_final["year"] = edustat_final["조사기준일"].str.slice(start=0, stop=4)

In [7]:
edustat_final["year"].value_counts

<bound method IndexOpsMixin.value_counts of 0         2011
1         2011
2         2011
3         2011
4         2011
          ...
193070    2020
193071    2020
193072    2020
193073    2020
193074    2020
Name: year, Length: 193075, dtype: object>

In [8]:
edustat_final

,조사기준일,학제,학교명,학교상태,본분교,시도,설립,과정구분,대계열,중계열,...,4차 유지취업자_남,4차 유지취업자_여,4차 유지취업률_계,4차 유지취업률_남,4차 유지취업률_여,입학당시 기취업자_계,입학당시 기취업자_남,입학당시 기취업자_여,KEDI\n학교코드,year
0,2011.12.31.,전문대학(3년제),가톨릭상지대학교,기존,본교,경북,사립,전문대학과정,사회계열,경영ㆍ경제,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2011
1,2011.12.31.,전문대학(3년제),가톨릭상지대학교,기존,본교,경북,사립,전문대학과정,사회계열,경영ㆍ경제,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2011
2,2011.12.31.,전문대학(3년제),가톨릭상지대학교,기존,본교,경북,사립,전문대학과정,사회계열,경영ㆍ경제,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2011
3,2011.12.31.,전문대학(3년제),가톨릭상지대학교,기존,본교,경북,사립,전문대학과정,사회계열,경영ㆍ경제,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2011
4,2011.12.31.,전문대학(3년제),가톨릭상지대학교,기존,본교,경북,사립,전문대학과정,사회계열,경영ㆍ경제,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2011
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193070,2020.12.31,기능대학,한국폴리텍특성화대학 반도체융합캠퍼스,학교명 변경,본교,경기,사립,전문대학과정,공학계열,전기ㆍ전자,...,3.0,0.0,42.9,42.9,0.0,0.0,0.0,0.0,Z3122000,2020
193071,2020.12.31,기능대학,한국폴리텍특성화대학 반도체융합캠퍼스,학교명 변경,본교,경기,사립,전문대학과정,공학계열,소재ㆍ재료,...,31.0,8.0,88.6,86.1,100.0,2.0,1.0,1.0,Z3122000,2020
193072,2020.12.31,기능대학,한국폴리텍특성화대학 반도체융합캠퍼스,학교명 변경,본교,경기,사립,전문대학과정,공학계열,소재ㆍ재료,...,15.0,11.0,81.3,88.2,73.3,1.0,1.0,0.0,Z3122000,2020
193073,2020.12.31,기능대학,한국폴리텍특성화대학 반도체융합캠퍼스,학교명 변경,본교,경기,사립,전문대학과정,공학계열,컴퓨터ㆍ통신,...,16.0,1.0,68.0,66.7,100.0,1.0,0.0,1.0,Z3122000,2020
193074,2020.12.31,기능대학,한국폴리텍특성화대학 반도체융합캠퍼스,학교명 변경,본교,경기,사립,전문대학과정,예체능계열,응용예술,...,4.0,1.0,50.0,44.4,100.0,0.0,0.0,0.0,Z3122000,2020

In [9]:
edustat_final.columns

Index(['조사기준일', '학제', '학교명', '학교상태', '본분교', '시도', '설립', '과정구분', '대계열', '중계열',
       '소계열', '학과코드', '학과명', '졸업자_계', '졸업자_남', '졸업자_여', '취업률_계', '취업률_남',
       '취업률_여', '취업자_합계_계', '취업자_합계_남', '취업자_합계_여', '취업자_교외취업자_계',
       '취업자_교외취업자_남', '취업자_교외취업자_여', '취업자_교내취업자_계', '취업자_교내취업자_남',
       '취업자_교내취업자_여', '취업자_해외취업자_계', '취업자_해외취업자_남', '취업자_해외취업자_여',
       '취업자_농림어업종사자_계', '취업자_농림어업종사자_남', '취업자_농림어업종사자_여', '취업자_개인창작활동종사자_계',
       '취업자_개인창작활동종사자_남', '취업자_개인창작활동종사자_여', '취업자_1인창(사)업자_계',
       '취업자_1인창(사)업자_남', '취업자_1인창(사)업자_여', '취업자_프리랜서_계', '취업자_프리랜서_남',
       '취업자_프리랜서_여', '진학률_계', '진학률_남', '진학률_여', '진학자_계', '진학자_남', '진학자_여',
       '입대자', '취업불가능자_계', '취업불가능자_남', '취업불가능자_여', '외국인유학생_계', '외국인유학생_남',
       '외국인유학생_여', '제외인정자_계', '제외인정자_남', '제외인정자_여', '기타_계', '기타_남', '기타_여',
       '미상_계', '미상_남', '미상_여', '학위구분', '1차 유지취업자_계', '1차 유지취업자_남',
       '1차 유지취업자_여', '1차 유지취업률_계', '1차 유지취업률_남', '1차 유지취업률_여', '2차 유지취업자_계',
       '2차 유지취업자_남', '2차 유지취업자_여', '2차 유지취업률_계', '2차 유지취업률_남', '2차 유지취업률_여',
       '3차 유지취업자_계', '3차 유지취업자_남', '3차 유지취업자_여', '3차 유지취업률_계', '3차 유지취업률_남',
       '3차 유지취업률_여', '4차 유지취업자_계', '4차 유지취업자_남', '4차 유지취업자_여', '4차 유지취업률_계',
       '4차 유지취업률_남', '4차 유지취업률_여', '입학당시 기취업자_계', '입학당시 기취업자_남', '입학당시 기취업자_여',
       'KEDI\n학교코드', 'year'],
      dtype='object')

In [13]:
filtered_df = edustat_final[edustat_final.시도.isin(["서울", "경남", "부산", "울산"])]

In [16]:
filtered_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 70606 entries, 28 to 193061
Data columns (total 95 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   조사기준일            70606 non-null  object
 1   학제               70606 non-null  object
 2   학교명              70606 non-null  object
 3   학교상태             70606 non-null  object
 4   본분교              70606 non-null  object
 5   시도               70606 non-null  object
 6   설립               70606 non-null  object
 7   과정구분             70606 non-null  object
 8   대계열              70606 non-null  object
 9   중계열              70606 non-null  object
 10  소계열              70606 non-null  object
 11  학과코드             70606 non-null  object
 12  학과명              70599 non-null  object
 13  졸업자_계            70606 non-null  int64
 14  졸업자_남            70606 non-null  int64
 15  졸업자_여            70606 non-null  int64
 16  취업률_계            70606 non-null  float64
 17  취업률_남            70606 non-null  float64
 18  취업률_여            70606 non-null  float64
 19  취업자_합계_계         70606 non-null  int64
 20  취업자_합계_남         70606 non-null  int64
 21  취업자_합계_여         70606 non-null  int64
 22  취업자_교외취업자_계      70606 non-null  int64
 23  취업자_교외취업자_남      70606 non-null  int64
 24  취업자_교외취업자_여      70606 non-null  int64
 25  취업자_교내취업자_계      70606 non-null  int64
 26  취업자_교내취업자_남      70606 non-null  int64
 27  취업자_교내취업자_여      70606 non-null  int64
 28  취업자_해외취업자_계      70606 non-null  int64
 29  취업자_해외취업자_남      70606 non-null  int64
 30  취업자_해외취업자_여      70606 non-null  int64
 31  취업자_농림어업종사자_계    70606 non-null  int64
 32  취업자_농림어업종사자_남    70606 non-null  int64
 33  취업자_농림어업종사자_여    70606 non-null  int64
 34  취업자_개인창작활동종사자_계  70606 non-null  int64
 35  취업자_개인창작활동종사자_남  70606 non-null  int64
 36  취업자_개인창작활동종사자_여  70606 non-null  int64
 37  취업자_1인창(사)업자_계   70606 non-null  int64
 38  취업자_1인창(사)업자_남   70606 non-null  int64
 39  취업자_1인창(사)업자_여   70606 non-null  int64
 40  취업자_프리랜서_계       70606 non-null  int64
 41  취업자_프리랜서_남       70606 non-null  int64
 42  취업자_프리랜서_여       70606 non-null  int64
 43  진학률_계            70606 non-null  float64
 44  진학률_남            70606 non-null  float64
 45  진학률_여            70606 non-null  float64
 46  진학자_계            70606 non-null  int64
 47  진학자_남            70606 non-null  int64
 48  진학자_여            70606 non-null  int64
 49  입대자              70606 non-null  int64
 50  취업불가능자_계         70606 non-null  int64
 51  취업불가능자_남         70606 non-null  int64
 52  취업불가능자_여         70606 non-null  int64
 53  외국인유학생_계         70606 non-null  int64
 54  외국인유학생_남         70606 non-null  int64
 55  외국인유학생_여         70606 non-null  int64
 56  제외인정자_계          70606 non-null  int64
 57  제외인정자_남          70606 non-null  int64
 58  제외인정자_여          70606 non-null  int64
 59  기타_계             70606 non-null  int64
 60  기타_남             70606 non-null  int64
 61  기타_여             70606 non-null  int64
 62  미상_계             70606 non-null  int64
 63  미상_남             70606 non-null  int64
 64  미상_여             70606 non-null  int64
 65  학위구분             30560 non-null  object
 66  1차 유지취업자_계       36816 non-null  float64
 67  1차 유지취업자_남       36816 non-null  float64
 68  1차 유지취업자_여       36816 non-null  float64
 69  1차 유지취업률_계       36816 non-null  float64
 70  1차 유지취업률_남       36816 non-null  float64
 71  1차 유지취업률_여       36816 non-null  float64
 72  2차 유지취업자_계       36816 non-null  float64
 73  2차 유지취업자_남       36816 non-null  float64
 74  2차 유지취업자_여       36816 non-null  float64
 75  2차 유지취업률_계       36816 non-null  float64
 76  2차 유지취업률_남       36816 non-null  float64
 77  2차 유지취업률_여       36816 non-null  float64
 78  3차 유지취업자_계       36816 non-null  float64
 79  3차 유지취업자_남       36816 non-null  float64
 80  3차 유지취업자_여       36816 non-null  float64
 81  3차 유지취업률_계       36816 non-null  float64
 82  3차 유지취업률_남       36816 non-null  float64
 83  3차 유지취업률_여       36816 non-null  float64
 84  4차 유지취업자_계       36816 non-null  float64
 85  4차 유지취업자_남       36816 non-null  float64
 86  4차 유지취업자_여       36816 non-null  float64
 87  4차 유지취업률_계       36816 non-null  float64
 88  4차 유지취업률_남       36816 non-null  float64
 89  4차 유지취업률_여       36816 non-null  float64
 90  입학당시 기취업자_계      36816 non-null  float64
 91  입학당시 기취업자_남      36816 non-null  float64
 92  입학당시 기취업자_여      36816 non-null  float64
 93  KEDI
학교코드        7483 non-null   object
 94  year             70606 non-null  object
dtypes: float64(33), int64(46), object(16)
memory usage: 51.7+ MB

In [18]:
edustat_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193075 entries, 0 to 193074
Data columns (total 95 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   조사기준일            193075 non-null  object
 1   학제               193075 non-null  object
 2   학교명              193075 non-null  object
 3   학교상태             193075 non-null  object
 4   본분교              193075 non-null  object
 5   시도               193075 non-null  object
 6   설립               193075 non-null  object
 7   과정구분             193075 non-null  object
 8   대계열              193075 non-null  object
 9   중계열              193075 non-null  object
 10  소계열              193075 non-null  object
 11  학과코드             193075 non-null  object
 12  학과명              193062 non-null  object
 13  졸업자_계            193075 non-null  int64
 14  졸업자_남            193075 non-null  int64
 15  졸업자_여            193075 non-null  int64
 16  취업률_계            193075 non-null  float64
 17  취업률_남            193075 non-null  float64
 18  취업률_여            193075 non-null  float64
 19  취업자_합계_계         193075 non-null  int64
 20  취업자_합계_남         193075 non-null  int64
 21  취업자_합계_여         193075 non-null  int64
 22  취업자_교외취업자_계      193075 non-null  int64
 23  취업자_교외취업자_남      193075 non-null  int64
 24  취업자_교외취업자_여      193075 non-null  int64
 25  취업자_교내취업자_계      193075 non-null  int64
 26  취업자_교내취업자_남      193075 non-null  int64
 27  취업자_교내취업자_여      193075 non-null  int64
 28  취업자_해외취업자_계      193075 non-null  int64
 29  취업자_해외취업자_남      193075 non-null  int64
 30  취업자_해외취업자_여      193075 non-null  int64
 31  취업자_농림어업종사자_계    193075 non-null  int64
 32  취업자_농림어업종사자_남    193075 non-null  int64
 33  취업자_농림어업종사자_여    193075 non-null  int64
 34  취업자_개인창작활동종사자_계  193075 non-null  int64
 35  취업자_개인창작활동종사자_남  193075 non-null  int64
 36  취업자_개인창작활동종사자_여  193075 non-null  int64
 37  취업자_1인창(사)업자_계   193075 non-null  int64
 38  취업자_1인창(사)업자_남   193075 non-null  int64
 39  취업자_1인창(사)업자_여   193075 non-null  int64
 40  취업자_프리랜서_계       193075 non-null  int64
 41  취업자_프리랜서_남       193075 non-null  int64
 42  취업자_프리랜서_여       193075 non-null  int64
 43  진학률_계            193075 non-null  float64
 44  진학률_남            193075 non-null  float64
 45  진학률_여            193075 non-null  float64
 46  진학자_계            193075 non-null  int64
 47  진학자_남            193075 non-null  int64
 48  진학자_여            193075 non-null  int64
 49  입대자              193075 non-null  int64
 50  취업불가능자_계         193075 non-null  int64
 51  취업불가능자_남         193075 non-null  int64
 52  취업불가능자_여         193075 non-null  int64
 53  외국인유학생_계         193075 non-null  int64
 54  외국인유학생_남         193075 non-null  int64
 55  외국인유학생_여         193075 non-null  int64
 56  제외인정자_계          193075 non-null  int64
 57  제외인정자_남          193075 non-null  int64
 58  제외인정자_여          193075 non-null  int64
 59  기타_계             193075 non-null  int64
 60  기타_남             193075 non-null  int64
 61  기타_여             193075 non-null  int64
 62  미상_계             193075 non-null  int64
 63  미상_남             193075 non-null  int64
 64  미상_여             193075 non-null  int64
 65  학위구분             65653 non-null   object
 66  1차 유지취업자_계       100895 non-null  float64
 67  1차 유지취업자_남       100895 non-null  float64
 68  1차 유지취업자_여       100895 non-null  float64
 69  1차 유지취업률_계       100895 non-null  float64
 70  1차 유지취업률_남       100895 non-null  float64
 71  1차 유지취업률_여       100895 non-null  float64
 72  2차 유지취업자_계       100895 non-null  float64
 73  2차 유지취업자_남       100895 non-null  float64
 74  2차 유지취업자_여       100895 non-null  float64
 75  2차 유지취업률_계       100895 non-null  float64
 76  2차 유지취업률_남       100895 non-null  float64
 77  2차 유지취업률_여       100895 non-null  float64
 78  3차 유지취업자_계       100895 non-null  float64
 79  3차 유지취업자_남       100895 non-null  float64
 80  3차 유지취업자_여       100895 non-null  float64
 81  3차 유지취업률_계       100895 non-null  float64
 82  3차 유지취업률_남       100895 non-null  float64
 83  3차 유지취업률_여       100895 non-null  float64
 84  4차 유지취업자_계       100895 non-null  float64
 85  4차 유지취업자_남       100895 non-null  float64
 86  4차 유지취업자_여       100895 non-null  float64
 87  4차 유지취업률_계       100895 non-null  float64
 88  4차 유지취업률_남       100895 non-null  float64
 89  4차 유지취업률_여       100895 non-null  float64
 90  입학당시 기취업자_계      100895 non-null  float64
 91  입학당시 기취업자_남      100895 non-null  float64
 92  입학당시 기취업자_여      100895 non-null  float64
 93  KEDI
학교코드        20361 non-null   object
 94  year             193075 non-null  object
dtypes: float64(33), int64(46), object(16)
memory usage: 139.9+ MB

In [19]:
filtered_df.to_excel("edustat_부울경.xlsx")

In [21]:
filtered_df.columns

Index(['조사기준일', '학제', '학교명', '학교상태', '본분교', '시도', '설립', '과정구분', '대계열', '중계열',
       '소계열', '학과코드', '학과명', '졸업자_계', '졸업자_남', '졸업자_여', '취업률_계', '취업률_남',
       '취업률_여', '취업자_합계_계', '취업자_합계_남', '취업자_합계_여', '취업자_교외취업자_계',
       '취업자_교외취업자_남', '취업자_교외취업자_여', '취업자_교내취업자_계', '취업자_교내취업자_남',
       '취업자_교내취업자_여', '취업자_해외취업자_계', '취업자_해외취업자_남', '취업자_해외취업자_여',
       '취업자_농림어업종사자_계', '취업자_농림어업종사자_남', '취업자_농림어업종사자_여', '취업자_개인창작활동종사자_계',
       '취업자_개인창작활동종사자_남', '취업자_개인창작활동종사자_여', '취업자_1인창(사)업자_계',
       '취업자_1인창(사)업자_남', '취업자_1인창(사)업자_여', '취업자_프리랜서_계', '취업자_프리랜서_남',
       '취업자_프리랜서_여', '진학률_계', '진학률_남', '진학률_여', '진학자_계', '진학자_남', '진학자_여',
       '입대자', '취업불가능자_계', '취업불가능자_남', '취업불가능자_여', '외국인유학생_계', '외국인유학생_남',
       '외국인유학생_여', '제외인정자_계', '제외인정자_남', '제외인정자_여', '기타_계', '기타_남', '기타_여',
       '미상_계', '미상_남', '미상_여', '학위구분', '1차 유지취업자_계', '1차 유지취업자_남',
       '1차 유지취업자_여', '1차 유지취업률_계', '1차 유지취업률_남', '1차 유지취업률_여', '2차 유지취업자_계',
       '2차 유지취업자_남', '2차 유지취업자_여', '2차 유지취업률_계', '2차 유지취업률_남', '2차 유지취업률_여',
       '3차 유지취업자_계', '3차 유지취업자_남', '3차 유지취업자_여', '3차 유지취업률_계', '3차 유지취업률_남',
       '3차 유지취업률_여', '4차 유지취업자_계', '4차 유지취업자_남', '4차 유지취업자_여', '4차 유지취업률_계',
       '4차 유지취업률_남', '4차 유지취업률_여', '입학당시 기취업자_계', '입학당시 기취업자_남', '입학당시 기취업자_여',
       'KEDI\n학교코드', 'year'],
      dtype='object')

In [23]:
filtered_df['졸업자중남자'] = filtered_df['졸업자_남'] / filtered_df['졸업자_계']
filtered_df['졸업자중여자'] = filtered_df['졸업자_여'] / filtered_df['졸업자_계']
filtered_df['취업자중남자'] = filtered_df['취업자_합계_남'] / filtered_df['취업자_합계_계']
filtered_df['취업자중여자'] = filtered_df['취업자_합계_여'] / filtered_df['취업자_합계_계']
filtered_df['남자취업률'] = filtered_df['취업자_합계_남'] / filtered_df['졸업자_남']
filtered_df['여자취업률'] = filtered_df['취업자_합계_여'] / filtered_df['졸업자_여']

<ipython-input-23-9bc343350e60>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['졸업자중남자'] = filtered_df['졸업자_남'] / filtered_df['졸업자_계']
<ipython-input-23-9bc343350e60>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['졸업자중여자'] = filtered_df['졸업자_여'] / filtered_df['졸업자_계']
<ipython-input-23-9bc343350e60>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['취업자중남자'] = filtered_df['취업자_합계_남'] / filtered_df['취업자_합계_계']
<ipython-input-23-9bc343350e60>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['취업자중여자'] = filtered_df['취업자_합계_여'] / filtered_df['취업자_합계_계']
<ipython-input-23-9bc343350e60>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['남자취업률'] = filtered_df['취업자_합계_남'] / filtered_df['졸업자_남']
<ipython-input-23-9bc343350e60>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['여자취업률'] = filtered_df['취업자_합계_여'] / filtered_df['졸업자_여']

In [24]:
filtered_df.columns

Index(['조사기준일', '학제', '학교명', '학교상태', '본분교', '시도', '설립', '과정구분', '대계열', '중계열',
       ...
       '입학당시 기취업자_남', '입학당시 기취업자_여', 'KEDI\n학교코드', 'year', '졸업자중남자', '졸업자중여자',
       '취업자중남자', '취업자중여자', '남자취업률', '여자취업률'],
      dtype='object', length=101)

In [29]:
filtered_df.to_excel("edustat_부울경.xlsx")